*{
  box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --blueberry: #050542;
    --turquoise:#66e5bf;
    --lavender: #a675f5;
    --attention: #050542;
    --attention-background: #05054233;
    --call-to-action: #FFFC86;
    --rounded: 1rem;
    --pilled: 4rem;
    --shadow: .3rem;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: var(--white);
    background: var(--blueberry);
  }
header{
    position: relative;
    margin: 0;
    padding: 1rem;
    min-height: 90vh;
    /* display:none; */
  }
header h1{
  font-size: 1.2em;
  font-weight: normal;
  /max-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 0.2rem;
  background: var(--turquoise);
  padding: 3rem 1rem 1rem 1rem;
  margin: -1rem;
  margin-bottom: 2rem;
}
  header h1 span{
    display: inline-block;
    border: 0.1rem solid;
    border-radius: var(--rounded);
    padding: 0.4rem 1rem;
    margin: 0;
    text-align: center;
  }
  header h1 span:first-child{
    width: 100%;
    background: var(--blueberry);
    color: var(--turquoise);
    font-size: 4em;
    border-radius: var(--pilled);
    padding: 0em 0.8em;
    margin-bottom: 0.4rem;
  }
  header h1 span:nth-child(2){
    background: var(--blueberry);
    color: var(--turquoise);
    width: 49%;
    border-radius: 0;
  }
  header h1 span:nth-child(3){
    background: var(--turquoise);
    color: var(--blueberry);
    min-width: 49%;
    border-radius: var(--rounded);
  }
  header h1 span:nth-child(4){
    background: var(--turquoise);
    color: var(--blueberry);
    flex-grow: 1;
    border-radius: var(--pilled);
  }
  header h1 span:nth-child(5){
    background: var(--blueberry);
    color: var(--turquoise);
    flex-grow: 3;
    border-radius: var(--rounded);
  }
header h2{
  font-size: 2em;
  line-height: 120%;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5em; 
}
header p{
  max-width: 30em;
  font-size: 1.2em;
  line-height: 1.3;
}
header a{
  color:  var(--white);
}
header a:hover, header a:focus{
  color: var(--blueberry);
  background:  var(--call-to-action);
}
.downarrow{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;

  font-size: 2rem;
  background: var(--turquoise);
  color: var(--blueberry);
  border-radius: 50%;
}



/* Filter systeem */
nav{
  margin: 2em 0;
  padding: 2em;
  display: none;
}
nav h3{
  font-size: 2.8em;
  margin-bottom: 0.5em;
}
nav p{
  max-width: 32em;
  font-size: 1.3em;
  line-height: 1.4;
}
footer{
  height: 10em;
  color: var(--blueberry);
}

  /* QUOTES */
  figure{
    position: relative;
    margin: 0;
    padding: 0.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: 20rem; */
  }
  blockquote{
    font-size: 2rem;
    font-weight:bold;
    display: inline-block;
    margin: 2rem 0 1rem 0;
    padding: 3rem 1.5rem;
    border: 0.1rem solid;
    border-radius: var(--rounded);
  }
  blockquote p{
    margin: 0;
    padding: 0;
  }
  figcaption{
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    /margin-bottom: 4rem;
    border: 0.1rem solid;
    border-radius: var(--pilled);
  }
  figure button.deeplink{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
  
    font-size: 1.4rem;
    background: var(--blueberry);
    color: white;
    border-radius: 50%;
    border-color: var(--blueberry);
    box-shadow: 0.1rem 0.1rem white;
  }
  figure:nth-child(odd) button.deeplink{
    color: var(--lavender);
  }
  figure:nth-child(even) button.deeplink{
    color: var(--turquoise);
  }
  figure button.deeplink:hover, figure button.deeplink:focus{
    cursor:pointer;
    background: var(--call-to-action);
    color: var(--blueberry)
  }
  /* quotes om en om andere kleuren: turquoise */
  figure:nth-child(even) {
    background-color: var(--turquoise);
  }
  figure:nth-child(even) blockquote {
    background-color: var(--blueberry);
    color: var(--turquoise);
    border-color: var(--blueberry);
  }
  figure:nth-child(even) figcaption{
    color: var(--blueberry);
    border-color: var(--blueberry);
  }
  /* quotes om en om andere kleuren: lavender */
  figure:nth-child(odd) {
    background-color: var(--lavender);
  }
  figure:nth-child(odd) blockquote {
    background-color: var(--blueberry);
    color: var(--lavender);
    border-color: var(--blueberry);
  }
  figure:nth-child(odd) figcaption{
    color: var(--blueberry);
    border-color: var(--blueberry);
  }


  /* MEDIA QUERY - MEDIUM  */
  @media (min-width:25rem) {
    header{
      padding: 2em;
    }
    header h1{
      max-width: 22rem;
      padding: 2rem 2rem 1rem 2rem;
      border-radius: var(--rounded);
    }
    header h2{
      font-size: 2.8rem;
    }
    header p{
      font-size: 1.3rem;
      line-height: 1.4;
    }
    figure{
      padding: 1rem;
    }
    blockquote{
      font-size: 2.8rem;
    }
    figcaption{
      font-size: 1.3rem;
      padding: 0.5rem 3rem;
  }

   /* MEDIA QUERY - LARGE  */
  @media (min-width:40rem) {
    header{
      padding: 4rem;
    }
    header h2{
      font-size: 6vw;
    }
    figure{
      padding: 2rem;
    }
    blockquote{
      font-size: 6vw;
      max-width: 40rem;
      padding: 3rem;
    }
    .long blockquote{
      font-size: 5vw;
      max-width: 90vw;
    }
  }

   /* MEDIA QUERY - EXTRA LARGE  */
  @media (min-width:60rem) {
    blockquote{
      max-width: 74vw;
    }
  }